
#digital .head .setting_a{
    display: block;
    position: absolute;
    bottom: 25%;
    left: 23%;
    width: 12.8rem;
    height: 3.33rem;
    line-height: 3.33rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    /* margin-left: -6.4rem; */
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}
.Customized{
	background: #4A7EE4;
	/*height: 68rem;*/
}